name: Build documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/build_main_documentation.yml@main
    with:
      commit_sha: ${{ github.sha }}
      package: audio-transformers-course
      package_name: audio-course
      path_to_docs: audio-transformers-course/chapters/
      additional_args: --not_python_module
      languages: en bn ko es zh-CN ru fr
    secrets:
      token: ${{ secrets.HUGGINGFACE_PUSH }}
      hf_token: ${{ secrets.HF_DOC_BUILD_PUSH }}
